<div class="medium-4 large-3 columns">
	<div id="cssmenu">

		<ul>
			<li>
				<a class="dashboard"><i class="general foundicon-home"></i>Dashboard</a>
			</li>
			<li>
				<a href="#"><i class="general foundicon-plus"></i>Medicine</a>
				<ul class="square">
					<li>
						<a href="#">Sub-Item 1 a</a>
					</li>
					<li>
						<a href="#">Sub-Item 1 b</a>
					</li>
					<li>
						<a href="#">Sub-Item 1 c</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="general foundicon-cart"></i>Purchage</a>
				<ul class="square">
					<li>
						<a href="#">Sub-Item 2 a</a>
					</li>
					<li>
						<a href="#">Sub-Item 2 b</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="general foundicon-page"></i>Sales</a>
				<ul class="square">
					<li>
						<a href="#">Sub-Item 3 a</a>
					</li>
					<li>
						<a href="#">Sub-Item 3 b</a>
					</li>
					<li>
						<a href="#">Sub-Item 3 c</a>
					</li>
					<li>
						<a href="#">Sub-Item 3 d</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="accessibility foundicon-adult"></i>Users</a>
				<ul class="square">
					<li>
						<a href="#">Sub-Item 4 a</a>
					</li>
					<li>
						<a href="#">Sub-Item 4 b</a>
					</li>
					<li>
						<a href="#">Sub-Item 4 c</a>
					</li>
				</ul>
			</li>
		</ul>

	</div>

</div>