<div class="heading">
	<div class="row">
		<nav class="top-bar" data-topbar data-topbar data-options="is_hover: false">
			<ul class="title-area">
				<li class="toggle-topbar menu-icon">
					<a href="#"><span>MENU</span></a>
				</li>
				<li class="name">
					<h1><a href="#">Neparica Pharmacy</a></h1>
				</li>

			</ul>
			<section class="top-bar-section">
				<ul class="right">
					<li class="has-dropdown">
						<a href="#">Welcome</a>
						<ul class="dropdown">
							<li>
								<a href="#">Your profile</a>
							</li>
							<li>
								<a href="#">Setting</a>
							</li>
							<li>
								<a href="#">Logout</a>
							</li>
						</ul>
					</li>
				</ul>
			</section>
		</nav>
	</div>
</div>